.DS_Store
.flaskenv
.flaskenv
*.pyc
*.pyo
*.db
*.ipynb
*.pem
.env
env/
env*
venv/
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
__pycache__/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

api/main/audio
api/main/images
